
{% extends "base.html" %}

{% load i18n bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div>
        <h1>{% trans "Sign Up" %}</h1>
        <br><br><br>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><button type="button" class="btn btn-primary">sign in</button></a>{% endblocktrans %}
        </p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}

